<div class="footer">
    <div class="sitemap">
        <h6>SITEMAP</h6>
        <div class="sitemapitem">
            <span class="underline"><a href="./">HOME</a></span>
        </div>
        <div class="sitemapitem">
            <span class="underline"><a href="projects">BREEDS</a></span>
        </div>
        <div class="sitemapitem">
            <span class="underline"><a href="about">ABOUT</a></span>
        </div>
        <div class="sitemapitem">
            <span class="underline"><a href="contact">CONTACT</a></span>
        </div>
    </div>
    <div class="links">
        <h6>LINKS</h6>
        <div class="linksitem">
            <span class="underline"><a href="https://www.wikipedia.com">WIKIPEDIA</a></span>
        </div>
        <div class="linksitem">
            <span class="underline"><a href="https://unsplash.com">PICTURES</a></span>
        </div>
    </div>
    <div class="scrolltop">
        <h6>TOP</h6>

    </div>
</div>