<div class="footer">
    <div class="sitemap">
        <div class="navitem">
            <span class="underline"><a href="projects">BREEDS</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="about">ABOUT</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="contact">CONTACT</a></span>
        </div>
    </div>
    <div class="links">

    </div>
    <div class="scrolltop">

    </div>
</div>