<div class="footer">
    <div class="sitemap">
        <h6>SITEMAP</h6>
        <div class="sitemapitem">
            <span class="underline"><a href="./">HOME</a></span>
        </div>
        <div class="sitemapitem">
            <span class="underline"><a href="husky">HUSKIES</a></span>
        </div>
        <div class="sitemapitem">
            <span class="underline"><a href="shepherd">SHEPHERDS</a></span>
        </div>
    </div>
    <div class="links">
        <h6>LINKS</h6>
        <div class="linksitem">
            <span class="underline"><a href="https://en.wikipedia.org/wiki/Dog">WIKIPEDIA</a></span>
        </div>
        <div class="linksitem">
            <span class="underline"><a href="https://unsplash.com">PICTURES</a></span>
        </div>
    </div>
    <div class="scrolltop">
        <h6>TOP</h6>
        <button onclick="topFunction()" id="topbutton">↑</button>
    </div>
</div>