<div class="navbar">
    <div class="nava">
        MAN'S BEST FRIEND
    </div>
    <div class="navhome">
        <a href="./" class="whitenav">DOGS DOGS DOGS</a>
    </div>
    <div class="navli">
        <div class="navitem">
            <span class="underline"><a href="projects" class="whitenav">BREEDS</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="about" class="whitenav">ABOUT</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="contact" class="whitenav">CONTACT</a></span>
        </div>
    </div>
</div>