<div class="navbar">
    <div class="nava">
        MAN'S BEST FRIEND
    </div>
    <div class="navhome">
        <a href="./">DOGS DOGS DOGS</a>
    </div>
    <div class="navli">
        <div class="navitem">
            <span class="underline"><a href="projects">BREEDS</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="about">ABOUT</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="contact">CONTACT</a></span>
        </div>
    </div>
</div>