<div class="navbar">
    <div class="nava">
        MAN'S BEST FRIEND
    </div>
    <div class="navhome">
        <a href="./" class="whitenav">DOGS DOGS DOGS</a>
    </div>
    <div class="navli">
        <div class="navitem">
            <span class="underline"><a href="husky" class="whitenav">HUSKIES</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="shepherd" class="whitenav">SHEPHERDS</a></span>
        </div>
        <div class="navitem">
            <span class="underline"><a href="contact" class="whitenav">LINKS</a></span>
        </div>
    </div>
</div>