<div class="blacknavbar">
    <div class="blacknava">
        MAN'S BEST FRIEND
    </div>
    <div class="blacknavhome">
        <a href="./" class="blacknav">DOGS DOGS DOGS</a>
    </div>
    <div class="blacknavli">
        <div class="blacknavitem">
            <span class="blackunderline"><a href="projects" class="blacknav">BREEDS</a></span>
        </div>
        <div class="blacknavitem">
            <span class="blackunderline"><a href="about" class="blacknav">ABOUT</a></span>
        </div>
        <div class="blacknavitem">
            <span class="blackunderline"><a href="contact" class="blacknav">CONTACT</a></span>
        </div>
    </div>
</div>