<div class="blacknavbar">
    <div class="blacknava">
        MAN'S BEST FRIEND
    </div>
    <div class="blacknavhome">
        <a href="./">DOGS DOGS DOGS</a>
    </div>
    <div class="blacknavli">
        <div class="blacknavitem">
            <span class="blackunderline"><a href="projects">BREEDS</a></span>
        </div>
        <div class="blacknavitem">
            <span class="blackunderline"><a href="about">ABOUT</a></span>
        </div>
        <div class="blacknavitem">
            <span class="blackunderline"><a href="contact">CONTACT</a></span>
        </div>
    </div>
</div>