<div class="blacknavbar">
    <div class="blacknava">
        MAN'S BEST FRIEND
    </div>
    <div class="blacknavhome">
        <a href="./" class="blacknav">DOGS DOGS DOGS</a>
    </div>
    <div class="blacknavli">
        <div class="blacknavitem">
            <span class="blackunderline"><a href="husky" class="blacknav">HUSKIES</a></span>
        </div>
        <div class="blacknavitem">
            <span class="blackunderline"><a href="shepherd" class="blacknav">SHEPHERDS</a></span>
        </div>
    </div>
</div>