body {
    background-color: #f6f4f1;
    margin: 0;
}

body::-webkit-scrollbar {
    display:none;
}

/* nav bar styling */

.navbar {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    top: 2%;
    z-index: 1;
}

.nava {
    display: flex;
    justify-self: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
    color: rgb(247, 247, 239);
    padding-top: 0%;
    padding-left: 5%;
    z-index: 1;
}

.navli {
    display: flex;
    justify-self: right;
    padding-right: 5%;
    z-index: 1;
}

.navitem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 6rem;
    min-width: 6rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
}

.navhome {
    display: flex;
    justify-self: center;
    font-family: 'DM Serif Display', serif;
    font-size: 20pt;
    z-index: 1;
    color: rgb(247, 247, 239);
}

/* white nav bar underline styling */

.whitenav,
.whitenav:link,
.whitenav:visited {
  text-decoration: none;
  color: rgb(247, 247, 239);
  z-index: 1;
}

.whitenav:hover {
    color:rgb(247, 247, 239);
    text-decoration:rgb(247, 247, 239);
}

.whitenav:active {
    text-decoration:rgb(247, 247, 239);
}

.underline {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.underline:before,
.underline:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0%;
    margin-top: -0.5px;
    background: rgb(247, 247, 239);
}

.underline:before {
    left: -2.5px;
}
  
.underline:after {
    right: 2.5px;
    background: rgb(247, 247, 239);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.underline:hover:before {
    background: rgb(247, 247, 239);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.underline:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/* Homepage title styling */

.hometitle {
    font-family: 'DM Serif Display', serif;
    font-size: 13rem;
    color: rgb(247, 247, 239);
    z-index: 1;
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    justify-self: center;
    left: 6%;
    top: 5%;
    font-weight: bold; 
}

/* Homepage background image styling */
#homebackgroundimg {
    display: flex;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

/* Home page styling */
#homebottom {
    display: flex;
}

#homesummary p {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    justify-self: left;
    left: 3%;
    bottom: 0%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(247, 247, 239);
    font-size: 1.75em;
    font-weight: bold; 
}

#homecopyright h6 {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    justify-self: right;
    right: 35.8%;
    bottom: 0%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(247, 247, 239);
    font-size: 2em;
    font-weight: bold; 
}

#homecopyright p {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    justify-self: right;
    right: 5%;
    bottom: 0%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(247, 247, 239);
    font-size: 1.75em;
}


/* Black navbar styling */
.blacknavbar {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    top: 2%;
    z-index: 1;
}

.blacknava {
    display: flex;
    justify-self: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
    color: black;
    padding-top: 0%;
    padding-left: 5%;
    z-index: 1;
}

.blacknavli {
    display: flex;
    justify-self: right;
    padding-right: 5%;
    z-index: 1;
}

.blacknavitem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 6rem;
    min-width: 6rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
}

.blacknavhome {
    display: flex;
    justify-self: center;
    font-family: 'DM Serif Display', serif;
    font-size: 20pt;
    z-index: 1;
    color:black;
}

/* nav bar underline styling */

.blacknav,
.blacknav:link,
.blacknav:visited {
  text-decoration: none;
  color: black;
  z-index: 1;
}

.blacknav:hover {
    color:black;
    text-decoration:black;
}

.blacknav:active {
    text-decoration: black;
}

.blackunderline {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.blackunderline:before,
.blackunderline:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0%;
    margin-top: -0.5px;
    background: black;
}

.blackunderline:before {
    left: -2.5px;
}
  
.blackunderline:after {
    right: 2.5px;
    background: black;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.blackunderline:hover:before {
    background: black;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.blackunderline:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/*Breeds/Projects page styles */

.breeds a {
    color:black;
}

.huskylink {
    display: none;
}

.huskylinkhover:hover .huskylink {
    display: block;
}

/* Husky page styles */

#huskybackgroundimg {
    display: flex;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

/* Shepherd page styles */

#shepherdbackgroundimg {
    display: flex;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

/* /#homelist {
    display: flex;
} */

#homeliststart {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
} 

#homeleftp {
    display: flex;
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
    width: 30%;
    color: black;
    padding-left: 12%;
    padding-right: 10%;
    margin-top: 0;
}

#homerightp {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    width: 40%;
    color: black;
    padding-right: 10%;
    margin-top: 0;
}

/* Footer styles */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    padding-top: 5%;
    padding-bottom: 2%;
}

.footer a,
.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: black;
  z-index: 1;
}

.footer a:hover {
    color:black;
    text-decoration:black;
}

.footer a:active {
    text-decoration:black;
}

.footer span {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.footer span:before,
.footer span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0%;
    margin-top: -0.5px;
    background: black;
}

.footer span:before {
    left: -2.5px;
}
  
.footer span:after {
    right: 2.5px;
    background: black;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.footer span:hover:before {
    background: black;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.footer span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.sitemapitem {
    display: flex;
    color: black;
    flex-direction: row;
    max-width: 5rem;
    min-width: 5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
}

.footer h6{
    font-family: 'DM Serif Display', serif;
    color: black;
    font-size: 20pt;
    margin: 0;
}

.linksitem {
    display: flex;
    color: black;
    flex-direction: row;
    max-width: 5rem;
    min-width: 5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
}

#topbutton {

    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    width: 130%;
    font-size: 30px; /* Increase font size */
    margin-top: 10%;
}

/* home page project list */
/* huskys */
.breedone,
.breedone:link,
.breedone:visited{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 30%;
    max-height: 100vh;
    margin-top: 5%;
    margin-left: 10%;
    text-decoration: none;
}

.breedoneimg {
    display: flex;
}

#breedoneimgsrc {
    display: flex;
    position: relative;
    max-width: auto;
    max-height: 100vh;
}

.breedonetitle h5 {
    font-family: 'DM Serif Display', serif;
    color: black;
    font-size: 5em;
    margin: 0;
    font-weight: lighter;
    padding-left: 5%;
}

.breedonetitle h6 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 5em;
    margin: 0;
    padding-left: 5%;
}

/*german shepherds */
.breedtwo,
.breedtwo:link,
.breedtwo:visited{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-self: right;
    text-decoration: none;
    max-width: 20%;
    padding-top: 0%;
    margin-left: 50%;
}

.breedtwoimg {
    display: flex;
}

#breedtwoimgsrc {
    display: flex;
    position: relative;
    max-width: auto;
    max-height: 100vh;

}

.breedtwotitle h5 {
    display: flex;
    flex-direction: column;
    font-family: 'DM Serif Display', serif;
    color: black;
    font-size: 3em;
    margin: 0;
    padding-left: 10%;
    font-weight: lighter;
}

.breedtwotitle h6 {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 3em;
    margin: 0;
    padding-left: 10%;
}