<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    body {
      background-color: #1d1d1d;
    }
  </style>
  <title>ABOUT</title>
</head>
<body>


<header>
  <%- include('../partials/header'); %>
</header>

<main>
  
</main>


</body>
</html>