<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="/assets/scripts/huskyscripts.js"></script>
  <title>HUSKIES</title>
</head>
<body>

<header>
    <img src="" id="huskybackgroundimg"/>
    <%- include('../partials/header'); %>
</header>

<main>
  <div class="stickyscroll">
    <div id="stickynumber">
      1
    </div>
    <div id="stickyheader">
      Huskies
    </div>
    <div id="stickybody">
      Huskies blurb
    </div>
  </div>

  <img src="" id="huskywideimg">

  <div class="huskyblurb">
    <img src="" id="huskyblurbimg">
    <h5>Husky blurb title</h5>
    <h6>Husky blurb</h6>
  </div>

  <a href="shepherd" class="huskytoshepherd">
    <div class="huskytoshepherd">
      <h1>GERMAN SHEPHERDS</h1>
    </div>
  </a>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>