<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="/assets/scripts/huskyscripts.js"></script>
  <title>HUSKIES</title>
</head>
<body>

<header>
    <img src="" id="huskybackgroundimg"/>
    <%- include('../partials/header'); %>
</header>

<main>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>