<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="/assets/scripts/huskyscripts.js"></script>
  <title>HUSKIES</title>
</head>
<body>

<header>
    <img src="" id="huskybackgroundimg"/>
    <%- include('../partials/header'); %>
    <div class="hometitle">SIBERIAN HUSKY</div>
</header>

<main>
  <div class="stickyscroll">
    <div id="stickynumber">
      1
    </div>
    <div class="stickynoscroll">
      <div id="stickyheader">
        The Siberian Husky is a medium-sized working sled dog breed.
      </div>
      <div id="stickybody">
        Siberian Huskies originated in Northeast Asia where they are bred by the Chukchi people of Siberia for sled pulling, and companionship. It is an active, energetic, resilient breed, whose ancestors lived in the extremely cold and harsh environment of the Siberian Arctic.<br><br> William Goosak, a Russian fur trader, introduced them to Nome, Alaska, during the Nome Gold Rush, initially as sled dogs to work the mining fields and for expeditions through otherwise impassable terrain. Today, the Siberian Husky is typically kept as a house pet, though they are still frequently used as sled dogs by competitive and recreational mushers
      </div>
    </div>
  </div>

  <img src="" id="huskywideimg">

  <div class="huskyblurbcontain">
    <div class="huskyblurbimage">
      <img src="" id="huskyblurbimg">
    </div>
  
    <div class="huskyblurb">
      <h5>The Siberian Husky is a medium-sized working sled dog breed</h5>
      <h6>Siberian Huskies originated in Northeast Asia where they are bred by the Chukchi people of Siberia for sled pulling, and companionship. It is an active, energetic, resilient breed, whose ancestors lived in the extremely cold and harsh environment of the Siberian Arctic</h6>
    </div>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>