<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Home</title>
</head>
<body>



<header>
  <img src="" id="homebackgroundimg"/>
  <%- include('../partials/header'); %>
  <div class="hometitle">DOGS DOGS DOGS</div>
</header>

<main>
  <div id="homebottom">
    <div id="homesummary">
      <p>Hey this is a website about dogs and how they are<br> pretty cool.
        So I hope you enjoy it and learn about<br> dogs, and enjoy the many
        lovely pictures of dogs
      </p>

      
    </div>

    <div id="homescroll">

    </div>

    <div id="homecopyright">
      <h6>
        ©2021
      </h6>
      <p>
        Otago Polytechnic, Dunedin, New Zealand
      </p>
    </div>
  </div>

  <div id="homelist">
    <div id="homeliststart">
      <p id="homeleftp">
        At Dogs Dogs Dogs, you can learn all about dogs while looking at nice pictures of dogs
      </p>
      <p id="homerightp">
        Our in-house team, led by contemporary designer and leader in spatial experience design, Paul Milinski. We work together to bring your project one step closer to reality by using creative direction, 3D architectural visualisations, and motion design. If you are looking for an elevated physical or digital experience, we specialise in leading the creative thinking behind your projects to craft awe-inspiring and uniquely desirable experiences.
      </p>
    </div>
  </div>
</main>


</body>
</html>