<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Home</title>
</head>
<body>

<header>
  <img src="" id="homebackgroundimg"/>
  <%- include('../partials/header'); %>
</header>

<main>
  
</main>


</body>
</html>