<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Home</title>
</head>
<body>

<header>
  <img src="" id="homebackgroundimg"/>
  <%- include('../partials/header'); %>
</header>

<main>
  <div id="homebottom">
    <div id="homesummary">
      <p>Hey this is a website about dogs and how they are<br> pretty cool.
        So I hope you enjoy it and learn about<br> dogs, and enjoy the many
        lovely pictures of dogs<br> supplied by Unsplash
      </p>

      
    </div>

    <div id="homecopyright">
      <h6>
        ©2021
      </h6>
      <p>
        Otago Polytechnic, Dunedin, New Zealand
      </p>
    </div>
  </div>

  <div id="homelist">
    
  </div>
</main>


</body>
</html>