<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  <title>Breeds</title>
</head>
<body>


    <header>
      <%- include('../partials/headerblack'); %>
    </header>

    <main>
      <div class="breeds">
        <div class="husky">
          <a href="husky">HUSKIES</a>
        </div>
     </div>

    </main>
</body>
</html>