<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>HUSKIES</title>
</head>
<body>

<header>
    <img src="" id="shepherdbackgroundimg"/>
    <%- include('../partials/headerblack'); %>
</header>

<main>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>