<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="/assets/scripts/shepherdscripts.js"></script>
  <title>SHEPHERDS</title>
</head>
<body>

<header>
    <img src="" id="shepherdbackgroundimg"/>
    <%- include('../partials/headerblack'); %>
    <div class="hometitle">GERMAN SHEPHERD</div>
</header>

<main>
  <div class="stickyscroll">
    <div id="stickynumber">
      2
    </div>
    <div class="stickynoscroll">
      <div id="stickyheader">
        The German Shepherd is a breed of medium to large-sized working dog that originated in Germany
      </div>
      <div id="stickybody">
        As a herding dog, German Shepherds are working dogs developed originally for herding sheep. Since that time, however, because of their strength, intelligence, trainability, and obedience, German Shepherds around the world are often the preferred breed for many types of work, including disability assistance, search-and-rescue, police and military roles and acting. The German Shepherd is the second-most registered breed by the American Kennel Club and seventh-most registered breed by The Kennel Club in the United Kingdom
      </div>
    </div>
  </div>

  <img src="" id="shepherdwideimg">

<div class="shepherdblurbcontain">
  <div class="shepherdblurbimage">
    <img src="" id="shepherdblurbimg">
  </div>

  </div>
    <div class="shepherdblurb">
      <h5>The German Shepherd is a breed of medium to large-sized working dog that originated in Germany</h5>
      <h6>As a herding dog, German Shepherds are working dogs developed originally for herding sheep. Since that time, however, because of their strength, intelligence, trainability, and obedience, German Shepherds around the world are often the preferred breed for many types of work, including disability assistance, search-and-rescue, police and military roles and acting.</h6>
  </div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>