<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="/assets/scripts/shepherdscripts.js"></script>
  <title>SHEPHERDS</title>
</head>
<body>

<header>
    <img src="" id="shepherdbackgroundimg"/>
    <%- include('../partials/headerblack'); %>
</header>

<main>
  <div class="stickyscroll">
    <div id="stickynumber">
      2
    </div>
    <div id="stickyheader">
      Shepherds
    </div>
    <div id="stickybody">
      Shepherd blurb
    </div>
  </div>

  <img src="" id="shepherdwideimg">

  <div class="shepherdblurb">
    <img src="" id="shepherdblurbimg">
    <h5>Shepherd blurb title</h5>
    <h6>Shepherd blurb</h6>
  </div>

  <a href="husky" class="shepherdtohusky">
    <div class="shepherdtohusky">
      <h1>SIBERIAN HUSKIES</h1>
    </div>
  </a>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>