/* nav bar styling */

.nava {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
    padding-right: 25%;
}

.navbar {
    display: flex;
    padding-top: 2rem;
}

.navli {
    float: right;
}

.navitem {
    display: inline;
    flex-direction: row;
    justify-content: right;
    max-width: 5rem;
    min-width: 5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
}

.navhome {
    display: flex;
    padding-left: 10%;
    padding-right: 35%;
    font-family: 'DM Serif Display', serif;
    font-size: 20pt;
}

/* nav bar underline styling */

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
    color:black;
    text-decoration: black;
}

a:active {
    text-decoration: black;
}

span {
    position: relative;
    cursor: pointer;
}

span:before,
span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0%;
    margin-top: -0.5px;
    background: black;
}

span:before {
    left: -2.5px;
}
  
span:after {
    right: 2.5px;
    background: black;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
span:hover:before {
    background: black;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/* Homepage title styling */

.hometitle {
    display: flex;
    font-family: 'DM Serif Display', serif;
    font-size: 200pt;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
}